/* 🎮 Gaming-Inspired Login Page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../assets/images/register_background.jpg") no-repeat center center/cover;
    padding: 20px;
}

.login-box {
    background: var(--primary);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px var(--eight);
    transition: transform 0.3s ease-in-out;
}

.login-box:hover {
    transform: scale(1.05);
}

.login-box .login-title {
    margin-bottom: 10px;
    font-size: 28px;
    color: #fff;
    text-shadow: 0 0 12px #4b7dff;
}

.login-box .login-second-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 13px;
    font-family: 'montserrat-md', sans-serif;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background: var(--seven) !important;
    color: #fff;
    font-size: 12px;
    outline: none;
    font-family: 'montserrat-md', sans-serif;
    /* box-shadow: 0 0 6px #302f5a; */
    transition: 0.2s;
    border: 0.2px solid var(--nine) !important;
}

.input-group input::placeholder{
    color: #fff;
}

.input-group input:hover {
    /* box-shadow: 0 0 12px #ffcc00; */
    border-color: var(--nine) !important;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--nine);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.login-button{
    width: 100%;
    background-color: var(--nine);
}

button:hover {
    background: #4b7dff;
    box-shadow: 0 0 5px #4b7dff;
}

.login-icon{color: #fff;}

.register-text {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    font-family: 'montserrat-md',sans-serif;
}

.register-text a {
    color: #4b7dff;
    text-decoration: none;
    font-family: 'montserrat-md';
}

.register-text a:hover {
    text-shadow: 0 0 8px #4b7dff;
}

button.disabled-btn {
    background: #ccc;
    /* cursor: not-allowed; */
}

.error-text{
    color: red;
    font-family: 'montserrat-md';
    font-size: 13px;
    margin-bottom: 5px;
}

.back-to-dashboard-button{
    color: #b8b8b8;
    font-size: 12px;
    cursor: pointer;

}

.reset-password{
    text-align: end;
    font-size: 12px;
    padding: 5px;
    font-family: 'montserrat-md';
}

.reset-password-text{
    color: #4b7dff;
}

/* Responsive */
@media (max-width: 480px) {
    .login-box {
        padding: 30px;
        max-width: 90%;
    }
}