.chat-container {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
}

.chat-button {
    background-color: var(--eight);
    color: #fff;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 10px var(--eight);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.chat-icon {
    font-size: 20px;
    margin-right: 10px;
}

.chat-text {
    font-size: 14px;
    font-weight: bold;
}

/* Popup Styles */
.chat-popup {
    position: absolute;
    bottom: 60px;
    right: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 250px;
    text-align: left;
}

.chat-option {
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-family: 'montserrat-md',sans-serif;
    font-size: 13px;
}

.chat-option:hover {
    background: #f1f1f1;
}

.chat-option-icon {
    font-size: 20px;
    margin-right: 8px;
}