/* Main container */
.admin-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

/* Sidebar */
.sidebar {
    position: sticky;
    width: 250px;
    height: 100vh;
    background: var(--primary);
    color: white;
    transition: transform 0s ease, width 0s ease;
    z-index: 1000;
    left: 0;
    top: 0;
}

.sidebar-logo-container{
    height: 65px;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--eight);
}

.sidebar-logo{
    width: 80%;
    height: 40px;
}

.sidebar.closed {
    width: 0;
    overflow: hidden;
    transform: translateX(-100%);
}

/* Sidebar Open */
.sidebar.open {
    transform: translateX(0);
}



.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-selection-container{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.nav-selection-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
    text-decoration: none;
    color: #fff;
}

.nav-selection-item:hover{
    border-radius: 8px;
    background: linear-gradient(to right, rgba(46, 95, 137, 1), rgba(46, 95, 137, 0));
}

.nav-selection-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-selection-text{
    font-family: 'montserrat-md';
    font-size: 13px;
}

.nav-selection-notification{
    background-color: var(--ten);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    text-align: center;
}

.notification-count{
    font-size: 14px;
    font-family: 'montserrat-md';
}

.sidebar-feature-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-title{
    font-size: 12px;
    font-family: 'montserrat-md';
    padding: 0 20px;
    color: darkgray;
    margin-top: 10px;
}

/* Toggle Button */
.toggle-menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
}

/* Main Area (Header + Content) */
.main-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    transition: width 0.01s ease;
}

.sidebar-closed .main-area {
    width: 100%;
}

.admin-active {
    border-radius: 8px;
    background: linear-gradient(to right, rgba(46, 95, 137, 1), rgba(46, 95, 137, 0));
}

/* Header */
.admin-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--seven);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 65px;
}

.admin-profile {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: var(--eight);
    padding: 5px 10px;
    border-radius: 30px;
}

.username {
    width: 100%;
    font-family: 'montserrat-bold';
    font-size: 14px;
}

.user-img{
    width: 30px;
    height: 30px;
}

.admin-profile-container {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0px 0px 6px var(--eight);
}

.admin-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    /* Adjust position below the profile */
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 150px;
    z-index: 1000;
}

.logout-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
    cursor: pointer;
    gap: 5px;
    padding: 5px;
}

.logout-button-container:hover{
    background-color: #ddd;
    border-radius: 30px;
}

.logout-text{
    font-family: 'montserrat-md';
    font-size: 14px;
}

/* Main content */
.admin-content {
    flex-grow: 1;
    background: #ebebeb;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.sidebar-author-container{
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.author-text{
    font-family: 'montserrat-md';
    font-size: 13px;
    color: gray;
}

@media (max-width: 798px){
    .sidebar-logo-container{
        display: none;
    }

        .sidebar {
            position: fixed;
            top: 65px;
            left: 0;
            height: 100vh;
            width: 250px;
            z-index: 1000;
        }
}