.product-container {
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    min-height: 80vh;
}

.product-left{
    width: 70%;
}

.product-right {
    width: 30%;
}

.breadcrumb {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.payment-container{
    background-color: var(--seven);
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}

.payment-title{
    font-family: 'montserrat-bold';
    font-size: 17px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--eight);
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    gap: 10px
}

.item-image{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.item-info-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-info-container .item-coin{
    color: #b3b3b3;
    font-family: 'montserrat-bold';
    font-size: 12px;
}

.item-info-container .item-price {
    color: var(--secondary);
    font-family: 'montserrat-bold';
    font-size: 13px;
}

.price-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    padding: 7px 2px;
}

.price-container .price-text{
    color: #fff;
    font-family: 'montserrat-md';
    font-size: 13px;
}

.checkout-button{
    color: var(--fourth) !important;
    color: #fff !important;
    box-shadow: none !important;
    font-size: 12px;
}

.total-price-container{
    display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        font-family: 'montserrat-bold';
        font-size: 16px;
        padding: 10px 0;
        border-top: 1px solid var(--eight);
}

.total-price-container .total-label{
    color: #fff;
}

.total-price-container .total-amount {
    color: var(--secondary);
}

.voucher-container{
    display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
}

.voucher-icon{
    font-size: 25px;
    color: #fff;
}

.voucher-button{
    width: 50%;
    color: #adadad;
    font-family: 'montserrat-md';
    font-size: 13px;
    text-align: end;
    cursor: pointer;
}

.product {
    display: flex;
    gap: 20px;
    background: var(--seven);;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-gallery {
}

.product-image {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    cursor: pointer;
}

.product-image:hover{
    opacity: 0.7;
}

.product-info {
    flex: 2;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: 'montserrat-bold';
}

.star-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.star-container .sell-amount{
    color: #fff;
    font-family: 'montserrat-md';
    font-size: 13px;
}

.product-description-container{
    padding: 10px 20px;
    height: 65%;
}

.product-description-title{
    color: #fff;
    font-family: 'montserrat-bold';
    font-size: 16px;
}

.product-description{
    color: #adadad;
    font-family: 'montserrat-md';
    font-size: 13px;
}

.tutorial-button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.tutorial-button{
    width: fit-content;
    background-color: #797979;
    color: #fff;
    font-size: 11px;
}

.product-topup-package-container{
    display: flex;
    flex-direction: column;
    background-color: var(--seven);
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
}

.product-item-container{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        margin-top: 10px;
}

.product-topup-package-title{
    color: #fff;
    font-family: 'montserrat-bold';
    font-size: 17px;
}

.product-item{
    height: 100px;
    background-color: var(--eleven);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.product-item:hover{
    border: 1px solid var(--fourth);
}


.product-item-img{
    width: 100px;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.product-item-img:hover{
    transform: scale(1.1);
}

.product-item-info{
    width: 70%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item-name{
    color: #fff;
    font-family: 'montserrat-md';
    font-size: 14px;
}

.product-item-order-type-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-item-order-type{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: max-content;
    padding: 3px;
}

.product-item-order-icon{
    width: 15px;
    height: 15px;
}

.product-item-order-value{
    font-family: 'montserrat-md';
    font-size: 13px;
}

.sold{
    color: #FF6347;
}

.stock {
    color: #6ce79a;
}

.product-item-price-discount-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.product-item-discount{
    color:#adadad;
    font-family: 'montserrat-md';
    font-size: 11px;
    text-decoration: line-through;
}

.product-item-price{
    color: var(--secondary);
    font-family: 'montserrat-md';
    font-size: 14px;
}

.reviews {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: var(--seven);
}

.reviews-title{
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'montserrat-md';
    font-size: 17px;
}

.review-item-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.review-item {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(46, 95, 137, 1), rgba(46, 95, 137, 0));
}

.review-item-user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.review-item-user-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-left: 10px;
}

.review-item-username-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.review-item-username{
    color: #fff;
    font-family: 'montserrat-md';
    font-size: 13px;
    font-weight: 600;
}

.review-item-ranking-container{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 5px;
        padding: 5px 0;
}

.user-rank-text{
    color: #b8b8b8;
    font-family: 'montserrat-bold';
    font-size: 12px;
}

.review-item-user-comment-container{
    text-align: start;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-comment{
    color: #fff;
    font-family: 'montserrat-md';
    font-size: 12px;
}

.comment-date{
    color: #b3b3b3;
    font-family: 'montserrat-md';
    font-size: 11px;
}

.review-item:last-child {
    border-bottom: none;
}

.review-item strong {
    color: #333;
}

.enable{
    display: block;
}

.disable {
    display: none;
}

.empty-comment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.empty-comment-img{
    width: 70px;
    height: 70px;
}

.empty-comment-title{
    font-family: 'montserrat-md';
    font-size: 14px;
    color: #fff;
}

/* Smaller screens (tablets & phones) */
@media screen and (max-width: 768px) {
    .product-container {
        width: 90% !important;
        flex-direction: column;
        padding: 0 !important;
    }

    .product-left {
        width: 100%;
    }

    .product-right {
        width: 100%;
    }

    .product{
        display: flex;
        flex-direction: column;
    }

    .product-gallery{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-image{
        width: 200px;
        height: 250px;
    }

    .product-item-order-type-container {
        flex-direction: column;
        align-items: center;
    }

    .product-topup-package-container{

    }

    .product-item-order-type-container{
        display: flex;
        flex-direction: row;
    }

    .product-item{
        height: 100px;
    }

    .checkout-button {
        width: 100%;
    }

    .star-container{
        justify-content: center;
    }

    .user-comment{
        font-size: 12px;
    }

        .user-rank-text{
            font-size: 12px;
        }

        .review-item-username{
            font-size: 12px;
        }

        .comment-date{
            font-size: 9px;
        }
}

/* Extra Small Devices (Mobile Phones) */
@media screen and (max-width: 480px) {
    .product-container {
        width: 100%;
        padding: 5px;
    }

    .product-title {
        font-size: 20px;
        text-align: center;
    }

    .product-description {
        font-size: 14px;
    }

    .tutorial-button-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tutorial-button {
        width: 100%;
    }

    .payment-container {
        padding: 10px;
    }

    .checkout-button {
        font-size: 16px;
    }
}

/* For medium laptops (1280px - 1440px) */
@media screen and (max-width: 1440px) {
    .product-container {
        width: 90%;
        padding: 20px;
    }

    .product-item-img {
        width: 60%;
        max-width: 400px;
    }
}

/* For large laptops (1440px - 1600px) */
@media screen and (max-width: 1600px) {
    .product-container {
        width: 80%;
        padding: 30px;
    }

    .product-item-img {
        width: 25%;
        max-width: 450px;
    }

    .product-item-price-discount-container{
            flex-direction: column;
            align-items: flex-end;
    }
}